<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout :: navbar"></div>
<div class="container-fluid">
    <div class="text-center p-3">
        <h3>Listen List</h3>
        <a th:href="@{showCreate}" class="btn btn-primary">Create</a>
        <h4 class="text-success" th:text="${mess}"></h4>
    </div>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Listen Name</th>
            <th>Artist</th>
            <th>Category</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listenForm}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.listenName}"></td>
            <td th:text="${item.artist}"></td>
            <td th:text="${item.category}"></td>
            <td>
                <a th:href="@{showEdit/{id}(id = ${item.id})}" class="btn btn-outline-success">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>