<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Facility Page</title>
    <style>
        .container.w-50.mt-2.p-2 {
            background-color: #b1efb3;
            border-radius: 16px;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/include/home::nav"></div>
<div class="container w-50 mt-2 p-2 container-fluid">
    <h3 align="center">CHỈNH SỪA DỊCH VỤ</h3>
    <form class="form-group" th:action="@{/editFacility}" method="post" th:object="${facilityDto}">
        <input type="text" th:field="*{id}" hidden>
        <div class="col-md-12">
            <label class="form-label">Loại dịch vụ:</label>
            <select class="form-select" aria-label="Default select example" th:field="*{facilityType}"  onchange="showServiceInput(this.value)">
                <option th:each="item : ${facilityTypeList}" th:text="${item.name}" th:value="${item.id}">One</option>
            </select>
        </div>

        <div class="col-md-12">
            <label class="form-label">Tên dịch vụ:</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
        <div class="mb-3 text-danger" th:errors="*{name}"></div>

        <div class="col-md-12">
            <label class="form-label">Diện tích sử dụng:</label>
            <input type="number" class="form-control" th:field="*{area}">
            <p style="color: red"></p>
        </div>
        <div class="mb-3 text-danger" th:errors="*{area}"></div>

        <div class="col-md-12">
            <label class="form-label">Chi phí thuê:</label>
            <input type="number" class="form-control" th:field="*{cost}">
            <p style="color: red"></p>
        </div>
        <div class="mb-3 text-danger" th:errors="*{cost}"></div>

        <div class="col-md-12">
            <label class="form-label">Số lượng người tối đa: </label>
            <input type="number" class="form-control" th:field="*{maxPeople}">
            <p style="color: red"></p>
        </div>
        <div class="mb-3 text-danger" th:errors="*{maxPeople}"></div>

        <div class="col-md-12">
            <label class="form-label" >Kiểu thuê:</label>
            <select class="form-select" aria-label="Default select example" th:field="*{rentType}">
                <option th:each="item : ${rentTypeList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>

        <div class="col-md-12" id="dv1" style="display: none">
            <label class="form-label">Tiêu chuẩn phòng:</label>
            <input type="text" class="form-control" th:field="*{standardRoom}">
        </div>
        <div class="mb-3 text-danger" th:errors="*{standardRoom}"></div>

        <div class="col-md-12" id="dv2" style="display: none">
            <label class="form-label">Mô tả tiện nghi khác:</label>
            <input type="text" class="form-control" th:field="*{descriptionOtherConvenience}">
        </div>
        <div class="mb-3 text-danger" th:errors="*{descriptionOtherConvenience}"></div>

        <div class="col-md-12" id="dv3" style="display: none">
            <label class="form-label">Số tầng:</label>
            <input type="number" class="form-control" th:field="*{numberOfFloors}">
            <p style="color: red"></p>
        </div>
        <div class="mb-3 text-danger" th:errors="*{numberOfFloors}"></div>


        <div class="col-md-12" id="dv4" style="display: none">
            <label class="form-label">Diện tích hồ bơi:</label>
            <input type="number" class="form-control" th:field="*{poolArea}">
            <p style="color: red"></p>
        </div>
        <div class="mb-3 text-danger" th:errors="*{poolArea}"></div>


        <div class="col-12 text-center" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
        <div class="col-12 text-center" style="margin-top: 10px;">
            <p style="color: forestgreen; alignment: center!important;"></p>
        </div>
    </form>
</div>

<div th:replace="/include/home::footer"></div>
<script>
    function showServiceInput(v) {
        console.log(v)
        console.log(typeof v)
        switch (v){
            case "1":
                document.getElementById("dv1").style.display="block";
                document.getElementById("dv2").style.display="block";
                document.getElementById("dv3").style.display="block";
                document.getElementById("dv4").style.display="block";
                break;
            case "2":
                document.getElementById("dv1").style.display="block";
                document.getElementById("dv2").style.display="block";
                document.getElementById("dv3").style.display="block";
                document.getElementById("dv4").style.display="none";
                document.getElementById("dv4Input").value = null;
                break;
            case "3":
                document.getElementById("dv1").style.display="none";
                document.getElementById("dv1Input").value = null;
                document.getElementById("dv2").style.display="none";
                document.getElementById("dv2Input").value = null;
                document.getElementById("dv3").style.display="none";
                document.getElementById("dv3Input").value = null;
                document.getElementById("dv4").style.display="none";
                document.getElementById("dv4Input").value = null;
                break;
            default:
                document.getElementById("dv1").style.display="none";
                document.getElementById("dv2").style.display="none";
                document.getElementById("dv3").style.display="none";
                document.getElementById("dv4").style.display="none";
        }
    }
</script>
</body>
</html>