<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <style>

    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/include/home::nav"></div>
<div>
    <div class="col-md-5 bg-light mt-5 p-3" style="margin: auto">
        <h3>Create Contract</h3>
        <form action="" method="post">
            <div class="mb-3 row">
                <label for="start-date" class="col-sm-4 col-form-label">Ngày bắt đầu</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="start-date">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="end-date" class="col-sm-4 col-form-label">Ngày kết thúc</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="end-date">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="deposit" class="col-sm-4 col-form-label">Tiền gửi</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="deposit" name="deposit">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="total-money" class="col-sm-4 col-form-label">Tổng tiền</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control" id="total-money" name="total-money">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Khách hàng thuê dịch vụ</label>
                <div class="col-sm-8">
                    <select name=""  class="form-select">
                        <option value="diamond" >Diamond</option>
                        <option value="gold" >Gold</option>
                        <option value="silver" >Silver</option>
                        <option value="member" >Member</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Dịch vụ</label>
                <div class="col-sm-8">
                    <select name=""  class="form-select">
                        <option value="Villa" >Villa</option>
                        <option value="House" >House</option>
                        <option value="Room" >Room</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-4 col-form-label">Dịch vụ đi kèm</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary bg-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        +
                    </button>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" type="button" onclick="">HỦY BỎ</button>
                <button class="btn btn-success" type="submit">TẠO HỢP ĐỒNG</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="/include/home::footer"></div>
</body>
</html>
