<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout :: navbar" ></div>
<div class="container">
    <div class="text-center p-3">
        <h3>Create Category</h3>
        <a href="/category/showList" class="text-primary text-decoration-none">Back to home</a>
    </div>
    <form th:action="@{/category/create}" method="post" th:object="${category}">
        <div class="mb-3">
            <label class="form-label">Category Name</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>
</body>
</html>