<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
    <div th:replace="/layout :: navbar" ></div>
    <div class="container">
        <div class="text-center p-3">
            <h3>Create Blog</h3>
            <a href="/blog/showList" class="text-primary text-decoration-none">Back to home</a>
        </div>
        <form th:action="@{/blog/create}" method="post" th:object="${blog}">
            <div class="mb-3">
                <label>Blog Name</label>
                <input type="text" class="form-control" th:field="*{nameBlog}">
            </div>

            <div class="mb-3">
                <label>Content</label>
                <input type="text" class="form-control" th:field="*{content}">
            </div>

            <div class="mb-3">
                <label>Author</label>
                <input type="text" class="form-control" th:field="*{author}">
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <select th:field="*{category}">
                    <option th:value="${item.id}" th:each="item : ${category}" th:text="${item.name}"></option>
                </select>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>