<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Create Form</title>
    <style>
        .container.w-50 {
            background-color: #9bc4e5;
            margin-top: 40px;
            border-radius: 10px;
            padding: 10px 30px;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="/include/home::nav"></div>

    <div class="create-form">
        <div class="container w-50">
            <form th:action="@{/create}" method="post" th:object="${customer}">
                <h5 style="align-content: center; color: #0069d9">THÊM MỚI CUSTOMER</h5>
                <div class="col-12">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>

                <div class="col-12">
                    <label class="form-label">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{gender}"
                               th:value="0" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nữ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{gender}"
                               th:value="1" id="flexRadioDefault2"
                               checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Nam
                        </label>
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" th:field="*{dateOfBirth}">
                </div>

                <div class="col-md-12">
                    <label class="form-label">Id Card</label>
                    <input type="text" class="form-control" th:field="*{idCard}">
                </div>

                <div class="col-md-12">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}">
                </div>

                <div class="col-12">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>

                <div class="col-12">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                </div>

                <div class="col-12">
                    <label class="form-label">Customer Type</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{customerType}">
                        <option th:each="item : ${customerTypeList}" th:text="${item.name}" th:value="${item.id}">One</option>
                    </select>
                </div>

                <div class="col-12 text-center " style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="/include/home::footer"></div>
</body>
</html>
