<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
  <div th:replace="/layout :: navbar"></div>
  <div class="container">
      <div class="text-center p-3">
          <h3>Create Listen</h3>
          <a href="/listen/showList" class="text-primary text-decoration-none">Back to home</a>
      </div>
      <form th:action="@{/listen/create}" method="post" th:object="${listenForm}" enctype="multipart/form-data">
          <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Listen Name</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{listenName}">
              </div>
          </div>
          <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Artist</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{artist}">
              </div>
          </div>
          <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Category</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{category}">
              </div>
          </div>
          <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Path File</label>
              <div class="col-sm-10">
                  <input type="file" class="form-control" th:field="*{pathFile}">
              </div>
          </div>
          <input type="submit" value="Create" class="btn btn-primary">
      </form>
  </div>
</body>
</html>